*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-backgroundcolor: #dc3545;
    --primary-colortext: #ffff;
}





.container {
    width: 1400px;
    border: 1px solid rgb(180, 164, 164);
    border-radius: 5px;
    margin: 0 auto;

}

.nav-menu-top {
    padding: 20px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: start;

}

.nav-menu {
    margin-bottom: 20px;
}

.input-title {
    display: flex;
    flex: 1;
    font-size: 0;
}

.title {
    border: none;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.input-title input {
    padding: 10px;
    border: 1px solid #ccc;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 400px;

}

.input-title button {
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #ffffff;
    color: #007bff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;

}

.highlight {
    background-color: yellow;
    font-weight: bold;
}

/* background Level */

.level-small,
.level-normal,
.level-high {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;

}

td {
    text-align: center;

}

.level-small {
    background-color: rgb(2, 69, 251);
    color: black;
    font-weight: bold;
    padding: 5px;
    text-align: center;
}

.level-normal {
    background-color: yellow;
    color: black;
    font-weight: bold;
    padding: 5px;
    text-align: center;
}

.level-high {
    background-color: red;
    color: black;
    font-weight: bold;
    padding: 5px;
    text-align: center;
}

/* ------------------------------- */
.sort_container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

select#sort {
    font-size: 14px;
    width: 130px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #007bff;
    background-color: #007bff;
    color: var(--primary-colortext);
    cursor: pointer;
    /* text-align: center; */
}

option {
    color: #000000;
    background-color: #ffff;
    text-align: left;
}

.btn-asc {
    padding: 5px 10px;
    font-size: 18px;
    border: 1px solid #dc3545;
    background-color: var(--primary-backgroundcolor);
    color: var(--primary-colortext);
    border-radius: 5px;
    cursor: pointer;

}

.add {
    flex: 1;
}

.btn-add {
    width: 100%;
    padding: 5px 10px;
    font-size: 18px;
    border: 1px solid #dc3545;
    background-color: var(--primary-backgroundcolor);
    color: var(--primary-colortext);
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;

}


.nav-menu-bottom {
    display: flex;
    opacity: 1;
    transform: translateY(0%);
    transition: .3s;
    justify-content: space-between;
    gap: 5px;
    position: relative;
    /* display: none; */

}

.hidden {
    z-index: -1;
    position: relative;
    opacity: 0;
    transform: translateY(-100%);
    transition: .3s;
}

.nav-menu-bottom input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 240px;
    height: 40px;
}

select#small {
    width: 90px;
    height: 40px;
    padding: 5px;
    border: 1px solid #6c757d;
    color: #6c757d;
    border-radius: 5px;
    cursor: pointer;
}

select#level {
    border-radius: 5px;
}

.btn-submit,
.btn-cancel {
    width: 80px;
    height: 40px;
    padding: 5px 15px;
    border-radius: 5px;
    color: var(--primary-colortext);
    cursor: pointer;

}

.btn-submit {
    border: 1px solid #007bff;
    background-color: #007bff;
}

.btn-cancel {
    border: 1px solid #dc3545;
    background-color: #dc3545;
}

/********* TABLE *******/

.task>h3 {
    background-color: rgb(49, 174, 49);
    color: var(--primary-colortext);
    padding: 5px;
    padding-left: 10px;
}

.menu-title {
    width: 100%;
    border-collapse: collapse;
}



.menu-title th,
.menu-title td {
    padding: 20px;
    text-align: center;
    border: 1px solid #ddd;
    border-right: none;
    border-left: none;

}

.btn-edit,
.btn-delete {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    text-align: right;
}

.btn-edit {

    background-color: #ffc107;
    color: white;
}

.btn-delete {

    background-color: var(--primary-backgroundcolor);
    color: white;
}